<div class="panel panel-success" style="border-color:#333; box-shadow: 3px 3px 8px black;">
    <div class="panel-heading center-controls" style="background-color:#333; border-color: #333; color: white">
        <strong style="font-size:larger">Yo Girl's Gifts</strong>
    </div>
    <div class="panel panel-default" style="margin-bottom: 0px; border: none">
        <div class="panel-body">
                <div class="" ng-cloak>
                    <table>
                        <tr>
                            <td>
                                <label>
                                    Occassion:
                                </label>
                                <input class="form-control" ng-model="occassion"/>
                                <button style="margin-top: 30px;" class="btn btn-info" ng-click="SearchGifts()">Search</button>
                            </td>
                            <td>
                                <img style="margin-left: 200px; max-width: 300px; max-height: 300px;" ng-src="data:image/JPEG;base64,{{selectedGirl.Images[0].Image}}"/>
                            </td>
                        </tr>
                    </table>                   
                    <div ng-repeat="g in gifts">
                        <table>
                            <tr>
                                <td style="padding: 30px;">                  
                                    <img ng-src="data:image/JPEG;base64,{{g.Picture}}"/>
                                </td>
                                <td>
                                    <label style="max-width: 400px;">{{g.Name}}</label>
                                    <br/>
                                    <label>{{g.Prices[0].Currency + ' ' + g.Prices[0].Value}}</label>
                                    <br/>
                                    <a href="{{g.AmazonLink}}">{{g.AmazonLink}}</label>
                                </td>
                                <td>
                                    <label>{{"Likability: " + g.Rating.Likability}}</label>
                                    <br/>
                                    <label>{{"Return Chance: %" + g.Rating.ReturnChance * 100}}</label>
                                    <br/>
                                    <label>{{"Friends Jealousy: " + g.Rating.FriendsJealousy}}</label>
                                    <br/>
                                    <label>{{"Overall: " + g.Rating.Overall}}</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button ng-click="GoToHomePage()" class="btn btn-danger" style="margin-top: 50px;">Back</button>
                </div>
        </div>
    </div>
</div>

<div>
    
</div>

<div id="divLoading" style="vertical-align:middle; " ng-show="processing ">
    <table style="width: 100%; height: 100%">
        <tr>
            <td style="text-align: center;vertical-align:middle; width: 100%">
                <img alt="" src="/Angular/Images/loader.gif"/><br /><h4 style="color: darkslategrey">{{msg}}</h4>
            </td>
        </tr>
    </table>
</div>
