<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>
    
    <div class="form-group">
      <label for="Name">Name:</label>
      <input formControlName="Name" placeholder="Name" name="Name" class="form-control" id="Name">
    </div>

    <div class="form-group">
      <label for="Relationship">Relationshio:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
