<header><app-navigation></app-navigation></header>

<div id="header">
  <h1><em>About Us</em></h1>
</div>
<div id="left-person"></div>
  <div id="body">
    <h2><em>Welcome</em> to <em>GGG</em> Gamers</h2>
    <p>We are words words words.</p>
    <p>Our Team:</p>
  </div>
  <h2 style="text-align:center"><em>Our Team</em></h2>
  <div id="black-tl">
    <div id="black-tr">
      <div id="black-br">
        <div id="black-bl">
          <div class="black-box">
            <h2><em>name</em> </h2>
            <p><img src="assets/images/kju.jpg" width="120" height="105" alt="Pic 1" /></p>
            <p>Words  </p>
          </div>
          <div class="black-box">
            <h2><em>name</em></h2>
            <p><img src="assets/images/fidel.jpg" width="120" height="105" alt="Pic 2" /></p>
            <p>Words</p>
          </div>
          <div class="black-box">
            <h2><em>name</em></h2>
            <p><img src="assets/images/waifu.png" width="120" height="105" alt="Pic 3" /></p>
            <p>Words</p>
          </div>
          <!----->
          <div class="black-box">
            <h2><em>name</em> </h2>
            <p><img src="assets/images/winnie.jpg" width="120" height="105" alt="Pic 1" /></p>
            <p>Words</p>
          </div>
          <div class="black-box">
            <h2><em>name</em></h2>
            <p><img src="assets/images/shrek.jpg" width="120" height="105" alt="Pic 2" /></p>
            <p>Words</p>
          </div>
          <div class="black-box">
            <h2><em>name</em></h2>
            <p><img src="assets/images/patric.jpg" width="120" height="105" alt="Pic 3" /></p>
            <p>Words</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
