<div>

  <!-- Start of header -->
  <div id="header">
    <h1><em>GetyoGirlaGift</em></h1>
  </div>
  
    <!-- End of header -->
    <div id="left-person"></div>
 
      <app-navigation></app-navigation>
      <!-- Start of Intro -->
      <div id="body">
        <h2><em>Welcome</em> to <em>GGG</em> Gamers</h2>
        <p>This is a service created for men, woman, insert gender here, and more.</p>
        <p>Please log in, create an account, or check the reviews some of our clients have made</p>
      </div>
      <!-- End of Intro -->
      <!-- Start of Reviews -->
      <div id="black-tl">
        <div id="black-tr">
          <div id="black-br">
            <div id="black-bl">
              <div class="black-box">
                <h2><em>Great gifts!</em> </h2>
                <p><img src="assets/images/belle.jpg" width="120" height="105" alt="Pic 1" /></p>
                <p>All of my boyfriends have always sucked at giving me gifts, but now with GGG all of them are great at it! Cash is always good but getting the right gifts from all of my boyfriends is great LOL</p>
              </div>
              <div class="black-box">
                <h2><em>A life saver!</em></h2>
                <p><img src="assets/images/BeastMaster64.png" width="120" height="105" alt="Pic 2" /></p>
                <p>My girlfriend always called me a loser and a SIMP because i always got her what i thought she would like, who doesn't like socks right guys? Anyways i dumped her and i'm drowning in girls thanks to GGG GG</p>
              </div>
              <div class="black-box">
                <h2><em>Mom loves it</em></h2>
                <p><img src="assets/images/pic_3.jpg" width="120" height="105" alt="Pic 3" /></p>
                <p>Like this is great for mothers day I love you mom!</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Reviews -->
      <div class="clear"></div>
      <!-- Start of Footers -->
      <div id="footer">
        <p>Disclaimer: Results may vary, we are not responsible for any break up, divorce, accident, incident, etc. and may not be held liable for any not satisfactory output of the gift given</p>
      </div>
      <!-- End of Footers -->
    </div>
